@media only screen and (max-width: 1300px) {
  .Karabakh {
    position: relative;
    padding: 50px 0;
  }

  .photos-text {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    overflow: hidden;
  }
}

@media only screen and (max-width: 1200px) {
  .container .photos-text {
    display: block !important;
  }
  .banner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 50px 0;
    text-align: center;
    padding: 20px;
    width: 80% !important;
  }
  .sub-ban::before {
    display: none;
  }
  .websites {
    grid-template-columns: 1fr 1fr;
  }
  .latest .container {
    grid-template-columns: 1fr;
  }
  .left img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .news-gallery-main .container {
    grid-template-columns: 1fr;
  }
  .news-gallery-main .container .new {
    display: flex !important;
    gap: 5%;
  }
  .news-gallery-main .container .thumb {
    width: 40%;
  }
  .news-gallery-main .container .news-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90%;
  }
  .news-gallery-main .new p {
    font-size: 14px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 992px) {
  header .navbar-nav li::before {
    display: none;
  }
  .active::after {
    display: none;
  }
  .bar {
    display: none;
  }
  .navbar-collapse {
    background: #fff !important;
    padding: 10px;
    z-index: 99 !important;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid rgb(83, 83, 83);
    transition: 0.4s !important;
  }
  .navbar-collapse ul li a {
    color: black !important;
  }
  .navbar-toggler {
    background-color: #fff !important;
  }
  h1 {
    font-size: 24px !important;
  }
  .new-details {
    padding: 150px 0;
  }
  .new-details .heading {
    width: 70%;
    font-size: 20px !important;
  }

  .general-info .text {
    border: 1px solid red;
    width: 100% !important;
  }
  .news-gallery {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {

  .websites {
    display: flex;
    flex-direction: column;
  }
  .right .news1 {
    flex-direction: column;
  }
  .right .news1 img {
    width: 100%;
  }
  .news-gallery-main .heading h2 {
    font-size: 20px !important;
  }
  .new h3 {
    font-size: 17px;
  }
}

@media only screen and (max-width: 600px) {
  .general-info .head-part h2 {
    margin-top: 50px;
  }
  .banner {
    gap: 16px;
  }
  .banner .sub-ban h2 {
    font-size: 14px;
  }
  .prog-bar {
    top: 51px;
  }
  .active-banner {
    line-height: 24px;
  }
  .news-gallery-main .new p {
    font-size: 10px;
    line-height: 10px;
  }
  .news-gallery .new {
    padding: 0 10px;
  }
  .news-gallery-main .container .new {
    gap: 10px ;
    padding:  0 20px;
  }
  .new h3 {
    font-size: 13px;
    color: #116ec5;
  }
}
@media only screen and (max-width: 500px) {
  .general-info {
    padding-top: 250px;
  }
  .website .head .second-head a {
    font-size: 20px;
  }
  .website .head .second-head {
    width: 219px;
    height: 39px;
  }
  .website .head {
    position: absolute;
    top: -10px;
    left: -48px;
  }
  .active-banner {
    font-size: 21px;
  }
  .banner .sub-ban h2 {
    line-height: 15px;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  
}

.websotes-slider .swiper-slide img {
  display: block;
  object-fit: cover;
  padding: 0 10px;
}


.news .swiper-slide img {
  height: 300px;
}


.websites-slider .swiper-slide {
  padding: 50px;
}

.photo-gallery .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  height: 500px;
  padding: 0 10px;
}

.websites-slider {
  padding: 0 30px;
}

.karabakh-slider .swiper-slide {
  padding: 0 10px;
  background-color: transparent;
}